$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "../bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

@import "mixin/mixin";
@import "variables/variables";
@import "partials/dragdrop";
@import "partials/offCanvas";

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

#wrap { 
	padding-top: 70px;
}

.no-margin {
	margin:0;
}