.dragged {
    position: absolute;
    opacity: 0.5;
    z-index: 2000;
}

ul.list-commands {
    list-style-type: none;
    padding: 0;
	
	h4 {
		font-size: 1.3em;
	}
	
	.command {
		@include transition(border-color, 0.2s, ease-in-out);
		list-style-type: none;
		padding: 5px;
		margin: 10px;
		border-left: 10px solid darken($drag-drop-command-color, 10%);
		z-index: 1;
		cursor: move;
		pointer: move;
		
		&.command-loop {
			border-left: 10px solid darken($drag-drop-command-loop-color, 10%);
			
			&:hover {
				border-color: darken($drag-drop-command-loop-color, 40%) !important;
			}
		}
		
		&:hover {
			border-color: darken($drag-drop-command-color, 40%) !important;
		}		
	}
	
	li.placeholder {
		position: relative;
		margin: 0;
		padding: 0;
		width: 100%;
		height: 0;
		border: none;
		background-color: transparent;
	}
	li.placeholder:after {
		position: absolute;
		content:"\e079 \e079";
		font-family: 'Glyphicons Halflings';
		font-size: 16px;
		color: $drag-drop-reorder-highlight-color;
		left: 90%;
		height: 0;
	}
}

ul.drop-target{
	padding: 0;
	
	ul {
		list-style-type: none;
		padding: 0;
		margin-top: 15px;
		min-height: 30px;		
	}
	
	.command-loop {
		border-left: 10px solid darken($drag-drop-command-loop-color, 10%);
		
		ul {
			border: 3px dashed darken($drag-drop-command-loop-color, 10%);
		}
		
		&:hover {
			border-color: darken($drag-drop-command-loop-color, 40%) !important;
		}
	}
	
	&.list-trash {
		padding: 20px 0;
	}
	
	&.list-procedures {
		min-height: 100px;
		margin-bottom: 50px;
	}
}